services:
  backend:
    env_file:
      - .env
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: price-backend
    ports:
      - "8001:8000"
    restart: unless-stopped
