services:
  backend:
    env_file:
      - .env
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    expose:
      - "8000"
    restart: unless-stopped

  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
